*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #5E8B7E;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/**********************Navbar************************/

.navbar {
  height: 107px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  background-color: #ffff;

}

.lefth {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}

.lefth_small {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
}

.righth {
  font-family: 'Otomanopee One', sans-serif;
  padding-left: 10%;
  padding-top: 15%;
  font-size: 5rem;
  font-weight: 400;
}

.righth3 {
  font-family: 'Otomanopee One', sans-serif;
  padding-left: 10%;
  padding-bottom: 10%;
  padding-top: 5%;
}

.leftp {
  padding-top: 10%;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
}

.rightp {
  color: #777;
  padding: 10%;
  padding-top: 5%;
  font-size: 1.15rem;
}

li {
  float: right;
}

.horizontalnav {

  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
  font-weight: 100;
}

.square {
  margin-top: 14px;
  margin-right: 12px;
  height: 20px;
  width: 20px;
  background-color: #2F5D62;
  float: left;
}

li .Headname {
  float: left;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  padding-top: 15px;
}

li .Headname:hover:not(.active) {
  color: #2F5D62;
}

.horizontalnav:hover:not(.active) {
  color: #2F5D62;
  transform: translateY(-0.3rem);
  text-shadow: -3px 6px 6px rgba(0, 0, 0, 0.57);
}

li a:hover:not(.active) {
  color: #fff;
  transform: translateY(-0.3rem);
  text-shadow: -3px 6px 6px rgba(0, 0, 0, 0.65);
}

.phnbtn {
  display: none;
}

.navigation {
  display: none;
}


/*************Landing**************/

.landing {
  padding: 10%;
  padding-top: 16%;
}

.squareM {
  margin: auto;
  height: 20px;
  width: 20px;
  background-color: #2F5D62;
}

.main {
  width: 16%;
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
}

.down {
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  width: 80%;
}

.mb {
  margin-bottom: 15%;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #2F5D62;
  padding: 10px 20px 10px 20px;
  border: solid #2F5D62 3px;
  text-decoration: none;
  margin-top: 1%;
}

.btn:hover {
  color: black;
  background: #5E8B7E;
  text-decoration: none;
  transform: translateY(-0.3rem);
  box-shadow: -3px 6px 6px rgba(0, 0, 0, 0.57);
}

.container {
  height: 400px;
  background-color: #ffffff;
  box-shadow: -3px 9px 43px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px 9px 43px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 9px 43px -10px rgba(0, 0, 0, 0.75);
}

.left {
  width: 40%;
  height: 100%;
  position: relative;
  float: left;
}

.right {
  width: 60%;
  float: right;
  height: 100%;
}

.left-container {
  width: 65%;
  height: 50%;
  margin: auto;
  margin-top: 27%;
  background-color: #ffffff;
}

.right-container {
  width: 75%;
  height: 60%;
  margin: auto;
  margin-top: 17%;
  background-color: #ffffff;
}

.primary_text {
  color: #2F5D62;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  font-weight: 200;

}

.secondary_text {
  font-size: 1.25rem;
  font-weight: 200;
  padding-top: 5%;
}

.tertiary_text {
  font-size: 1rem;
  font-weight: 200;
  padding-top: 1.5%;
}

.top {
  height: 50%;
}

.bottom {
  height: 50%;
}

.primary_head {
  background-color: #ffffff;
  padding-top: 10%;
  padding-left: 9%;
  font-size: 1rem;
}

.bullet {
  list-style-type: square;
  font-size: 2rem;
  line-height: 2;
  float: left;
  padding-left: 24%;
  color: #2F5D62;
}

.leftc {
  width: 50%;
  height: 68%;
}

.rightc {
  width: 50%;
  height: 68%;
}

/***********************************footer**************/

.footer {
  height: 130px;
  background-color: white;
}

.copy {
  color: #777;
  padding-left: 4%;
  padding-top: 4%;
  font-size: .75rem;
  float: left;
}

.grid-container {
  text-align: center;
  display: grid;
  grid-template-columns: 58% 14% 14% 14%;
  padding: 10px;
}


.footerp {
  color: #777;
  text-decoration: none;
}

.footerp:hover:not(.active) {
  color: #2F5D62;
  transform: translateY(-0.3rem);
  text-shadow: -3px 6px 6px rgba(0, 0, 0, 0.57);
}

.footlogo {
  padding: 2%;
  width: 15px;
  height: 15px;
}

.footlogo:hover:not(.active) {
  transform: translateY(-0.3rem);
  box-shadow: -3px 6px 6px rgba(0, 0, 0, 0.57);
}




/****Response*****/

@media only screen and (max-width: 893px) {
  .rightp {
    font-size: 1.05rem;
  }

  .lefth {
    font-size: 1.9rem;
  }
}

@media only screen and (max-width: 794px) {
  .block {
    width: 77%;
  }

  .righth3 {
    font-size: 1rem;
  }

}

@media only screen and (max-width:750px) {
  .landing {
    height: 180vh;
    padding: 0%;
    /* margin-bottom: 275%;*/
  }

  .left {
    width: 100%;
    float: none;
    height: 15%;
  }

  .right {
    width: 100%;
    float: none;
  }

  .horizontalnav {
    display: none;
  }

  .rightp {
    color: #000000;
  }


  .phnbtn {
    display: revert;
    margin-left: 0;
  }

  span {
    display: none;
  }

  .leftp {
    display: none;
  }

  .lefth_small {
    font-size: 1.5rem;
  }

  .hl {
    margin-bottom: 10%;
  }

  .grid-container {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }

  .main {
    width: 100%;
    margin-top: 30%;
  }

  .btn {
    font-size: 10px;
  }


  .secondary_text {
    font-size: 1.05rem;
  }

  .primary_head {
    font-size: 1.05rem;
  }

  .primary_text {
    padding-top: 10%;
  }










  /*******navbar************/
  .navigation {
    display: revert;
  }

  .navigation__checkbox {
    display: none;
  }

  .navigation__button {
    background-color: #fff;
    height: 3rem;
    width: 3rem;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    border-radius: 50%;
    z-index: 2000;
  }

  .navigation__background {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    position: fixed;
    top: 1.6rem;
    right: 1.6rem;
    background-image: radial-gradient(#A7C4BC, #A7C4BC);
    z-index: 1000;
    transition: .8s;

  }

  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0%;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  .navigation__item {
    margin: 1rem;
  }

  .navigation__link:link,
  .navigation__link:visited {
    display: inline-block;
    font-size: .85rem;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    color: #2F5D62;
    padding: 2rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
  }


  .navigation__checkbox:checked~.navigation__background {
    transform: scale(80);
  }

  .navigation__checkbox:checked~.navigation__nav {
    opacity: 1;
    width: 100%;
  }

  .navigation__icon {
    position: relative;
    margin-top: 1.5rem;
    margin-left: .3rem;
  }

  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
    width: 2.3rem;
    height: 2.5px;
    background-color: #333;
    display: inline-block;
  }




  .navigation__icon::before,
  .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
  }

  .navigation__icon::before {
    top: -.8rem;
  }

  .navigation__icon::after {
    top: .8rem;
  }

  .navigation__button:hover .navigation__icon::before {
    top: -1rem;
  }

  .navigation__button:hover .navigation__icon::after {
    top: 1rem;
  }

  .navigation__checkbox:checked+.navigation__button .navigation__icon {
    background-color: transparent;
  }

  .navigation__checkbox:checked+.navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  .navigation__checkbox:checked+.navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }



  /*footer*/
  .footer {
    margin-top: 200%;
  }

}

@media only screen and (max-width:668px) {
  .footer {
    margin-top: 252%;
  }
}

@media only screen and (max-width:529px) {
  .footer {
    margin-top: 286%;
  }
}

@media only screen and (max-width:380px) {
  .footer {
    margin-top: 320%;
  }
  .primary_head{
    margin-top: 15%;
  }
}

@media only screen and (max-width:345px) {
  .footer {
    margin-top: 390%;
  }
}